@page
@model Ceng382_Project.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

<div class="addbook">
    <div class="formu">
        <form class="addu" method="post">
            <div class="rowu">
                <div class="colu">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Book.Id" />

                    <div><label asp-for="Book.Title">Title</label></div>
                    <div><input asp-for="Book.Title" data-val="true" data-val-required="Title field must be filled." type="text"></div>
                    <div><span asp-validation-for="Book.Title" class="text-danger"></span></div>

                    <div><label asp-for="Book.Author">Author</label></div>
                    <div><input asp-for="Book.Author" data-val="true" data-val-required="Author field must be filled." type="text"></div>
                    <div><span asp-validation-for="Book.Author" class="text-danger"></span></div>

                    <div><label asp-for="Book.Translator">Translator</label></div>
                    <div><input asp-for="Book.Translator" type="text"></div>

                    <div><label asp-for="Book.Publisher">Publisher</label></div>
                    <div><input asp-for="Book.Publisher"></div>

                    <div><label asp-for="Book.Description">Book Description</label></div>
                    <div><textarea asp-for="Book.Description" data-val="true" data-val-required="Description field must be filled." rows="4" required></textarea></div>
                    <div><span asp-validation-for="Book.Description" class="text-danger"></span></div>
                </div>

                <div class="colu">
                    <div><label asp-for="Book.Cover">Book Cover</label></div>
                    <div><input asp-for="Book.Cover"></div>

                    <div><label asp-for="Book.Categories">Categories</label></div>
                    <div><input asp-for="Book.Categories"></div>

                    <div class="rowu">
                        <div class="colu">
                            <div><label asp-for="Connect.Status">Reading Status</label></div>
                            <div>
                                <select asp-for="Connect.Status">
                                    <option value="Completed">Completed</option>
                                    <option value="Reading">Reading</option>
                                    <option value="Not started">Not started</option>
                                </select>
                            </div>
                        </div>
                        <div class="colu">
                            <div><label asp-for="Connect.Rating">Rating</label></div>
                            <div>
                                <select asp-for="Connect.Rating">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttonu">
                <a class="btn cancu" asp-area="" asp-page="/MainPage">Cancel</a>
                <input class="btn subu" type="submit" value="Save">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
